node_modules/*
/public/hot
/public/storage
/public/css/*
/public/js/*
/public/images
/storage/*.key
vendor/*
.env
.env.example
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
fakeSMTP-2.0.jar
/received-emails