// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.mainapp {
    text-align: center;
    width: 75%;
    margin: auto;
    min-width: 1350px;
}

.visible {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.componentVisible {
    display: block;
}

.componentHide {
    display: none;
}

.text_center {
    text-align: center !important;
}

.error {
    color: red;
    margin: 0;
}

.valid {
    color: green;
}

.needsApproval {
    background-color: #ffb3b3;
}

.close {
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 2.8em;
    font-weight: bold;
    cursor: pointer;
    color: red;
}

.print {
    position: absolute;
    top: 12px;
    right: 35px;
    // cursor: pointer;
    img {
        width: 28px;
    }
}

button {
    cursor: pointer;
}

.buttonWithIndicator {
    position: relative;
}

.numberIndicator {
    border: 2px solid red;
    border-radius: 50%;
    background: white;
    height: 18px;
    width: 19px;
    font-size: .80em;
    display: inline-block;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0;

}

h1 {
    margin: 0;
}

.borderModule {
    position: relative;
    margin: 20px auto auto auto;
    width: 65%;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    border: 8px double #3A3F3B;
}


// ****************************HEADER*********************************
.header{
    background: url(..\\images\\ocean_crop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 150px;    
    color: white;
    position: relative;
}

#dolphins {
    width: 250px;
    height: 70px;
    position: absolute;
    left: 90px;
    top: 35px;
}

#titlepatch {
    height: 150px;
    width: 520px;      
    margin: auto;
}

#tjpatch {
    height: 150px;
    width: 160px;
    position: absolute;
    right: 90px;
}

.logincontainer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding-right: 4px;
    border: 5px double #3A3F3B;
    border-radius: 0px 15px 15px 0px;
    border-color: #b3b3b3;
    background-color: #f2f2f2;
}

.logincontainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logincontainer ul li {
    float: left;
    display: block;
    margin: 2px;
}

.logincontainer ul li p {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    color: black;
}

.logincontainer ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

// **************************************MENU**********************************************
.menu {
    background: url(..\\images\\ocean_menu.png);
    background-repeat: no-repeat;
    padding-top: 2px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

.menu li {
    float: left;
}

.menu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 1.25em;
    white-space: normal;
    word-wrap: break-word;
  }

 .menu li a:hover, .dropdown:hover .dropbtn {
    background-color: #a6a6a6;
  }

 .menu li.dropdown {
    display: inline-block;
  } 

  .menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f3ed;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
   
  }

  .menu .dropdown-content a:hover {
      background-color: #f1f1f1;
  
  }

  .menu .dropdown:hover .dropdown-content {
    display: block;
  } 

  //************************BODY*******************************

.body {
    min-height: 800px;
    padding-bottom: 25px;
    background: url(..\\images\\TJAtSea.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.userContainer {
   width: 100%;
   position: relative;
   padding: 5px 0 10px 0;
}

.userContainer p {
    height: 30px;
    margin: 0;
    font-size: 1.5em;
    text-align: left;
    padding-left: 10px;
    text-transform: capitalize;
}

.userContainer button {
    height: 28px;
    margin-left: 20px;
    margin-top: 2px;
    font-size: .8em;
    text-align: center;
    background-color: #4db8ff;
    cursor: pointer;
}

.newAppMessage {
    font-size: 1.3em;
}

.welcome {
    position: relative;
    margin: 20px auto auto auto;
    width: 65%;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    border: 8px double #3A3F3B;
    opacity: 85%;
}

.editMessage {
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: #4db8ff;
    font-size: 1.2em;
    cursor: pointer;
}

.editButtonContainer {
    height: 25px;
}

.messageupdate {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: calc( (100% / 2) - 70px);
    float: left;
    width: 140px;
    font-size: 1.2em;
    color: green;
}

.submitChange {
    background-color: #b3ffb3;
    font-size: 1.2em;
    cursor: pointer;
    float: right;
    margin-right: 15px;
}

.cancelChange {
    background-color: #ffb3b3;
    font-size: 1.2em;
    cursor: pointer;
    float: right;
}

.welcome h1{
    margin: 0 0 15px 0 !important;
}

.message {
    width: 100%;
    font-size: 1.4em;
    color: black;
    opacity: 85%;
    overflow-x: hidden;
    white-space: pre-wrap;
    text-align: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.message_editable {
    width: 100%;
    font-size: 1.7em;
    color: black;
    overflow-x: hidden;
    white-space: pre-wrap;
    min-height: 600px;
    resize: none;
    background-color: white !important;
}

.welcomeupdate {
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: right;
}

//***************************ANNOUNCEMENT***********************

.announcement {
    position: relative;
    margin: 35px auto auto auto;
    overflow: hidden;
    width: 65%;
    background-color: #e6f7ff;
    border-radius: 25px;
    opacity: 85%;

    img {
        width: 65px;
        height: 65px;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }

    p {
        
        font-size: 1.2em;
        text-align: left !important;
        vertical-align: middle;
        line-height: normal;
    }

    .expires {
        position: absolute;
        right: 10px;
        bottom: 0;
    }
}

.announcementModule {
    h2{
        margin: 0;
        text-decoration: underline;
    }
    .addAnnouncement {
        overflow: hidden;
        clear: both;
        p {
            text-align: left !important;
            width: 100%;
            margin-bottom: 10px;
            font-size: 1.2em;
        }

        .expireDate {
            width: 140px;
            height: 30px;
            float: left;
            clear: both;
            font-size: 1.1em;
        }

        textarea {
            width: 650px;
            height: 60px;
            float: left;
            clear: both;
            margin-bottom: 15px;
            font-size: 1.3em;
        }

        div {
            width: 100%;
            float: left;
            clear: both;
            .submitAnnouncement {
                width: 100px;
                height: 30px;
                float: left;
                background-color: #b3ffb3;
                margin: 10px 25px 10px 10px;
            }

            .cancelAnnouncement {
                width: 100px;
                height: 30px;
                float: left;
                background-color: #ffb3b3;
                margin: 10px 5px 10px 10px;
            }
        }
    }

    .editAnnouncements {
        overflow: hidden;
        clear: both;

        h2{
            margin: 0;
            text-decoration: underline;
        }

        p{
            text-align: left !important;
            margin-left: 5px;
            font-size: 1.1em;
        }

        .singleAnnouncment {
            height: 90px;
            
            .announceDate {
                width: 125px;
                height: 30px;
                float: left;
                margin-right: 10px;
                font-size: 1em;
            }
            .announceMessage {
                width: 575px;
                height: 60px;
                float: left;
                font-size: 1em;
            }
            .updateButton {
                background-color: #b3ffb3;
                width: 75px;
                height: 35px;
                float: left;
                padding: 5px;
                margin-left: 10px;
            }
            .deleteButton {
                background-color: red;
                height: 35px;
                padding: 5px;
                margin-left: 10px;
                float: left;
            }
        }
    }
}

  //*************LOGIN

  .authenticate {
    position: relative;
    margin: auto;
    width: 400px;
    border: 8px double #3A3F3B;
    padding: 15px 15px 45px 15px;
    background-color: #f2f2f2;
    border-radius: 15px;
    opacity: 95%;
}

.authenticate label {
    font-size: 1.4em;
    float: left;
}

.authenticate button {
    font-size: 1.2em;
}

.authenticate h1 {
    margin: 0;
    padding-bottom: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px;
}

.submitlogin {
    background-color: #4d94ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.cancelbtn {
  width: auto;
  padding: 3px 3px;
  background-color: #ff5c33;
  float: left;
  cursor: pointer;
}

.psw {
    font-size: 1.2em;
    float: right;
    margin-top: 5px;
}

.loginerror {
    border: 1px solid red !important;
}

.errorDisplay {
    margin-left: 20px;
    color: red;
    font-size: 1.2em;
}

.footer {
    height: 45px;
    background-color: #3A3F3B;
    width: 100%;
    position: relative;
    color: white;
}

.contactus {
    position: absolute;
    left: 8px;
    top: 9px;  
    font-size: 1.2em;
    width: 100px;
}

.contactus a {
    text-decoration: none;
    color: white;
}

.footercenter {
    margin: auto;
    text-align: center;
    width: 200px;
}

.footercenter p {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    text-align: center;
}

.lastupdate {
    width: 100px;
    position: absolute;
    top: 2px;
    right: 15px;
}

.lastupdate p {   
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

//***************************SIGN UP

.signup {
    position: relative;
    margin: 20px auto auto auto;
    width: 65%;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    border: 8px double #3A3F3B;
    opacity: 85%;
}

.signup h3 {
    margin: 0;
}

.signup form {
    width: 60%;
    margin: 25px auto 25px auto;
}

.signup p {
    width: 100%;
    margin: 0 0 10px 0;;
    text-align: left;
    font-size: 1.3em;
    height: 20px;

}

.signup input {
    width: 100%;
    margin-bottom: 10px;
    text-align: left !important;
}

.signup select {
    width: 85px;
    font-size: 1em;
    background-color: white;
    margin-bottom: 15px;
    text-transform: capitalize;

}

.divisions_container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.divisions {
    width: 250px;
    height: 65px;
    float: left;
    display: block;
    text-align: left;
}

.divisions select {
    font-size: 1.2em;
    width: 135px;
    text-transform: capitalize;
}

.password_container {
    clear: both;
    font-size: 1em;
}

.servedDates {
    margin-top: 15px;
    text-align: left;
    p {
       margin: 20px 0 20px 0; 
    }
    label {
        font-size: 1.3em;
    }
    select {
        height: 25px;
        font-size: 1em;
        margin-right: 20px;
    }
}

//***********************About Us***************************

.aboutus {
    position: relative;
    margin: 20px auto auto auto;
    width: 65%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
    border: 8px double #3A3F3B;
    opacity: 90%;
}

.aboutus p {
    overflow-x: hidden;
    white-space: pre-wrap;
    text-align: start;
    font-size: 1.6em;
}

#hatlogo {
    margin: 30px auto 0 auto;
    width: 400px;
    height: 150px;
}

//****************************EDIT USERS********************

.editusers {
    position: relative;
    margin: 20px auto auto auto;
    width: 65%;
    padding: 20px 20px 30px 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
    border: 8px double #3A3F3B;
    opacity: 90%;
}


.userTable {
    font-family: arial, sans-serif;
    font-size: 1em;
    border-collapse: collapse;
    width: 100%;
  }

  .userTable button {
      background-color: #4db8ff;
  }


  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .editSingleUser {
    position: relative;
    margin: 20px auto auto auto;
    width: 45%;
    padding: 50px;
    background-color: white;
  }

  .editSingleUser p {
      text-align: left;
      margin: 15px 0 15px 0;
      clear: both;
      font-size: 1.1em;
  }

  .editSingleUser input {
      width: 100%;
      font-size: 1.1em;
      height: 30px;
      margin-bottom: 15px;
     
  }

  .editSingleUser select {
      float: left;
      width: 100px;
      height: 30px;
      font-size: 1.1em;
      margin-bottom: 15px;
  } 

  .editSingleUser .editButtonContainer {
    width: 100%;
    clear: both;
    padding: 10px 0 10px 0;
  }

  .editButtonContainer button {
      width: 100px;
      height: 30px;
  }

  .editButtonContainer .updatebutton {
    float: left;
    background-color: #b3ffb3;
}

  .editButtonContainer .cancelbutton {
      clear: both;
      background-color: #ffb3b3;
  }

.editButtonContainer .deletebutton {
    float: right;
    background-color: #ff4d4d;
}

//******************************HISTORY***********************

.historyAdmin {
    h3 {
        margin: 5px;
    }
}
.addevent {
    width: 100%;  
    height: 30px;
    padding: 8px 0 20px 0;

    span {
        float: left;
        padding: 5px;
        margin-right: 5px;
        font-size: 1.1em;
    }

    .historyDate {
        width: 125px;
        height: 25px;
        font-size: .9em;
        margin-right: 20px;
        float: left;
    }

    .historyEvent {
        width: 250px;
        height: 25px;
        font-size: .9em;
        margin-right: 20px;
        float: left;
    }

    .historyNotes {
        width: 330px;
        height: 25px;
        font-size: .9em;
        margin-right: 20px;
        float: left;
    }

}

#addEventError {
    margin: 0 0 15px 0;
}

.historyAdminButtons {
    clear: both;

    button {
        height: 25px;
        font-size: 1.1em;
    }

    .historyAdminSubmit {
        margin-right: 25px;
        background-color: #b3ffb3;
    }

    .historyAdminCancel {
        margin-right: 25px;
        background-color: #ffb3b3;
    }

    .historyAdminClear {
        background-color: #4db8ff;
    }
}

.editLineEvent {
    height: 70px;

    h2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .editDate {
        width: 113px;
        height: 25px;
        font-size: .9em;
        margin-right: 15px;
        float: left;
    }

    .editEvent {
        width: 232px;
        height: 25px;
        font-size: .9em;
        margin-right: 15px;
        float: left;
    }

    .editNote {
        width: 280px;
        height: 25px;
        font-size: .9em;
        margin-right: 15px;
        float: left;
    }

    button {
        height: 32px;
        float: left;
        margin-right: 9px;
    }

    .updateButton {
        background-color: #b3ffb3;
    }

    .cancelButton {
        background-color: #ffb3b3;
    }

    .deleteButton {
        background-color: #ff4d4d;
    }
}

.eventsModule {

    .renderedEvents {
        .event {
            list-style: none;
        }
        .eventsEditButton {
            padding: 8px 0;
        }
        table {
            margin-top: 20px;
        }
    }
    
}

.eventPagination {
    margin-top: 25px;
    .pageNumbers {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;

        .paginationButton {
            width: 32px;
            height: 32px;
            text-align: center;
            padding: 0;
            float: left;
        }
        .paginationButton:focus {
            background-color: white;
        }

        .arrowButton {
            width: 32px;
            height: 32px;
            text-align: center;
            padding: 0;
            float: left;
            img {
                width: 30px;
                height: 30px;
            }
        }


        li {
            margin-right: .3em;
            color: blue;
            user-select: none;
            cursor: pointer;
        }
    }
}

.decklogs {
    .dlAdmin {
        overflow: hidden;
        clear: both;
        .infoContainer {
            height: 35px;
            label {
                    float: left;
                    margin-bottom: 10px;
                    margin-right: 10px;
                    font-size: 1.2em;
                }
            .logDate {
                width: 125px;
                height: 20px;
                float: left;
                margin-right: 10px;
                font-size: 1em;
            }
            .patrolNumber {
                width: 160px;
                height: 20px;
                float: left;
                margin-right: 10px;
                font-size: 1em;
            }
            .patrolNotes {
                width: 230px;
                height: 20px;
                float: left;
                margin-right: 10px;
                font-size: 1em;
            }
        }

        .filesContainer {
            overflow: hidden;
            clear: both;
            p {
                text-align: left;
                clear: both;
                margin: 0 0 5px 0;
                font-size: 1.1em;
            }
            .dlFiles {
                height: 25px;
                float: left;
                margin-right: 10px;
                margin-bottom: 5px;
                font-size: 1em;
                color: transparent;
            }
        } 
        .decklogAdminButtons {
            margin-top: 5px;
            button {
                height: 30px;
                font-size: 1.1em;
            }
            .dlAdminSubmit {
                background-color: #b3ffb3;
                margin-right: 20px;
               
            }
            .dlAdminCancel {
                background-color: #ffb3b3;
                margin-right: 20px;
            }
            .dlAdminClear {
                background-color: #4db8ff;
            }
        }
    }

    .logSelectContainer {
        position: relative;
        h3 {
            margin: 5px;
        }
        .filterContainer {
            width: 720px;
            margin: 10px auto auto auto;
            height: 50px;
            clear: both;
            .logYear {
                float: left;
                width: 175px;
                p {
                    margin: 0 0 5px 0;
                    text-align: left;
                    font-size: 1.2em;
                }
                select {
                    float: left;
                    height: 20px;
                    font-size: 1em;
                }
            }
            .logMonth {
                float: left;
                width: 175px;
                p {
                    margin: 0 0 5px 0;
                    text-align: left;
                    font-size: 1.2em;
                }
                select {
                    float: left;
                    height: 20px;
                    font-size: 1em;
                }
            }
            .logDay {
                float: left;
                width: 175px;
                p {
                    margin: 0 0 5px 0;
                    text-align: left;
                    font-size: 1.2em;
                }
                select {
                    float: left;
                    height: 20px;
                    font-size: 1em;
                }
            }
            .filterSearch {
                float: left;
                width: 175px;
                p {
                    margin: 0 0 5px 0;
                    text-align: left;
                    font-size: 1.2em;
                }
                button {
                    float: left;
                    height: 22px;
                    font-size: 1em;
                    background-color: #ffffff;
                }
            }
        }
    }

    .decklogViewer {
        position: relative;
        width: 85%;
        background-color: #f2f2f2;
        border-radius: 15px;
        border: 8px double #3A3F3B;
        margin: auto;

        h2 {
            margin: 10px;
        }
        label {
            font-weight: bold;
        }
        p {
            font-size: 1.3em;
            margin: 5px;
        }
        .singleDecklog {
            margin: 10px auto auto auto;
            width: 100%;
            height: 1000px;
        }
    }
    .logResults {
        margin: auto;
        font-size: 1em;
        border-collapse: collapse;
        tbody {
            tr {
                td{
                    font-size: 1.1em;
                    font-family: arial, sans-serif;
                    cursor: pointer;
                    padding: 15px;
                    border: none;
                }
            }
        }
    }
}

//*********************Images********************************
.photoAdmin {
    overflow: hidden;
    position: relative;
    width: 80% !important;
    // max-height: 1200px;

    .checkbox-container {
        font-size: 1.2em;
        width: 100%;
        margin-bottom: 15px;
        vertical-align: middle;
        input[type=checkbox] {
            margin-right: 20px;
            margin-top: 0;
            height: 18px;
            width: 18px;
            vertical-align: middle;
        }
        
    }
}
.uploader {
    margin: auto;
    width: 100%;

   h2 {
       margin: 0 0 15px 0;
       text-decoration: underline;
   }
   input[type=text] {
       width: 250px;
       height: 25px;
       margin-left: 10px;
       font-size: 1em !important;
   }

   .galleryNameContainer {
       margin-bottom: 15px;
       p {
        margin: 0 0 10px 0;
       }
   }
}

.dropzone_button {
    width: 150px;
    height: 23px;
    background-color: #4db8ff;
    padding: 16px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto 10px auto;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
}

.upload_button {
    width: 100px;
    height: 25px;
    background-color: #b3ffb3;
    font-size: 1.2em;
    margin: auto auto 10px auto; 
}

.images {
    width: 95%;
    margin: auto;
    .image {
        position: relative;
        float: left;
        img {
            // max-width: 280px;
            max-width: 140px;
        }
        span {
            position: absolute;
            top: 1px;
            right: 1px;
            font-size: 1em;
            width: 17px;
            height: 16px;
            // border-radius: 8px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: white;
        }
    }
}

.progress {
    width: 500px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    .progress-bar {
        background-color: #4db8ff;
        height: 30px;
        transition: width .2s ease;
        border-radius: 10px;
        span{
            color: white;
            font-size: 1.5em;
            float: right;
          
        }
    }
}

.galleryViewer {
    max-width: 1175px;
    max-height: 1205px;
    min-height: 650px;
    // overflow: auto;
    h2 {
        margin: 0 0 15px 0;
        text-decoration: underline;
    }
}   

.gallerySelection {
    margin: 15px 0 20px 0;

    label {
        font-size: 1.2em;
        margin-right: 10px;
    }
    .activeGallery {
        height: 25px;
        width: 125px;
        font-size: 1.0em;
        margin-right: 20px;
    }
    .addImages {
        height: 18px;
        width: 18px;
        vertical-align: middle; 
        margin-bottom: 6px;
    }
}


.updateGallery{
    h2 {
        margin: 0;
        text-decoration: underline;  
    }
}

.imageUserModule {
    overflow: hidden;
    position: relative;
    width: 80% !important;
}

.showImage {
    margin-bottom: 15px;
    background-color: linen;
    position: relative;
    // height: 650px;
    .rightImageScroll {
        position: absolute;
        top: calc((100%/2) - 20px);
        right: 5px;
        width: 40px;
        height: 40px;
        border: 1px solid black;
        background-color: #4db8ff;
    }
    .leftImageScroll {
        position: absolute;
        top: calc((100%/2) - 20px);
        left: 5px;
        width: 40px;
        height: 40px;
        border: 1px solid black;
        background-color: #4db8ff;
    }
    .rightImageScroll:hover {
        cursor: pointer;
        border: 1px solid white;
    }
    .leftImageScroll:hover {
        cursor: pointer;
        border: 1px solid white;
    }
    .individualImage {
        max-width: 100%;
        max-height: 450px;
    }
}
.react-photo-gallery--gallery {
    overflow-y: auto;
    height: 466px;
    min-height: 565px;
}

.deleteImages {
    margin-bottom: 15px;
    height: 30px;
    background-color: #ffb3b3;
    font-size: 1.1em;
    border: none;
}

.deleteImages:hover {
    border: 2px solid red;
}

.forgotPassword {
    label {
        font-size: 1.2em;
    }
    .passwordRecoverInput {
        .emailInput {
            width: 300px;
            height: 30px;
        }
    }
    .codeEntry {
        .resetCode {
            width: 300px;
            height: 30px;
        }
    }
    .forgotPasswordSubmit {
        margin-top: 10px;
        .submitEmail {
            width: 75px;
            height: 30px;
            background-color: #b3ffb3;
        }
    }
    .changePasswordModule {
        width: 300px;
        margin: auto;
        p {
            margin: 0;
            text-align: left;
            font-size: 1.2em;
        }
        .newPasswordInput {
            width: 300px;
            height: 25px;
        }
        button {
            background-color: #b3ffb3;
            width: 100px;
            height: 30px;
            margin-top: 15px;
            font-size: 1.1em;
        }
    }
    .newPasswordInput {
        width: 300px;
        height: 25px;
    }
    
}


//*****************************CREW*************************
.crewTable {
    font-family: arial, sans-serif;
    font-size: 1em;
    border-collapse: collapse;
    width: 100%;
   
    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px 0px 8px 5px;
        background-color: #fff9e6;
        button {
            span {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
      }
    .crewNamesInput {
        width: 90px;
        background-color: white;
    }
    .crewSelects {
        min-width: 45px;
        max-width: 90px;
        background-color: white;
    }
    .crewedit {
        background-color: #4db8ff;
    }
    .crewdelete {
        background-color: red;
    }
    .crewsave {
        background-color:#b3ffb3;
    }
    .crewundo {
        background-color: #ffb3b3;
    }
}

.crewError {
    background-color: #ffb3b3 !important;
}
.addCrewModule {
    padding-top: 0;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background-color: #fff9e6;
    .errorContainer {
        p {
            margin: 0;
            font-size: 1em;
            color: red;
        }
    }
    .addCrewTable {
        margin: auto;
        border-collapse: collapse;
        td, th {
            border: none;
            text-align: center;
            input, select {
                font-size: .9em;
               
            }
        }
    }
    .crewButtons {
        margin-top: 5px;
        .crewSubmit {
            background-color: #b3ffb3;
            margin-right: 15px;
            height: 25px;
            font-size: 1.1em;
        }
        .crewCancel {
            background-color: #ffb3b3;
            margin-right: 15px;
            height: 25px;
            font-size: 1.1em;
        }
        .crewClear {
            background-color: #4db8ff;
            height: 25px;
            font-size: 1.1em;
        }

    }
}

//**********************VIDEO MODULE**********************************

.videomodule {
    width: 90%;
    border: 8px double #3A3F3B;
    border-radius: 5px;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    .heading {
        padding: 10px;
        border-bottom: 2px solid black;
        
    }
    .siding {
        background-color: #fff9e6;
        float: left;
        min-width: 240px;
        width: 26%;
        height: 679px;
        overflow: auto;
        h3 {
            margin: 10px;
        }
        p {
            text-align: left;
            margin-left: 10px;
            font-size: 1.1em;
            width: 90%;
        }
        a {
            text-decoration: none;
            color: black;
        }

        .videoselect {
            clear: both;
            height: 70px;
            padding: 5px;
            cursor: pointer;
            margin-bottom: 5px;
            .videothumbs {
                width: 30%;
                // height: 80px;
                float: left;
            }
            .videodescription {
                width: 65%;
                float: left;
                margin: 5px 5px 5px 5px;
                word-wrap: break-word;
            }
        }
        
    }
    .videoplayer {
        background: url(..\\images\\woodpanel.png) no-repeat 0 0 scroll;
        background-color:#0C0C0C;
        background-size: 100% 100%;
        width:74%;
        padding-bottom: 30px;
        float: right;
        .player {
            width: 800px;
            height: 600px;
            margin-top: 45px;
            border: hidden;
            border-radius: 10px;
        }
    }
}

//****************************404***************************

.underconstruction{
    width: 50%;
   
    margin: auto;
    border: 8px double #3A3F3B;
    padding: 15px 15px 45px 15px;
    background-color: #f2f2f2;
    border-radius: 15px;
    opacity: 90%;
}

.underconstruction img {
    width: 100%;
   
}